<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi E-RPS</title>
    
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body">
    <div>
        <div class="col-12">
            <div style="border-radius: 10px; width:98%; margin-top:5px">
                <div class="card-body"  align="center">
                <img class="img" style="width:3%; margin:30px 30px;"src="https://lp3m.unand.ac.id/seminar/tsadmin/todakimage/logo.png"/>
                <h3>RENCANA PEMBELAJARAN SEMESTER (RPS)</h3>
                <br>
                <table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0 gridlines">
                    <col class="col0">
                    <col class="col1">
                    <col class="col2">
                    <col class="col3">
                    <col class="col4">
                    <col class="col5">
                    <col class="col6">
                    <col class="col7">
                    <col class="col8">
                    <col class="col9">
                    <col class="col10">
                    <col class="col11">
                    <col class="col12">
                    <tbody>
                      <tr class="row0">
                        <td class="column0 style151 s style153" rowspan="4" style="border-color:black;border-style:solid;border-width:1px;">
                            <img class="img" style="width:20%; margin:30px 0px;" src="https://lp3m.unand.ac.id/seminar/tsadmin/todakimage/logo.png"/>
                        </td>
                        <td class="column1 style6 s style7" colspan="12" style="border-color:black;border-style:solid;border-width:1px;">RENCANA PEMBELAJARAN SEMESTER (RPS)</td>
                      </tr>
                      <tr class="row1">
                        <td class="column1 style8 s style9" colspan="12" style="border-color:black;border-style:solid;border-width:1px;">PROGRAM STUDI : Sistem Informasi</td>
                      </tr>
                      <tr class="row2">
                        <td class="column1 style8 s style9" colspan="12" style="border-color:black;border-style:solid;border-width:1px;">FAKULTAS /PPs: Teknologi Informasi</td>
                      </tr>
                      <tr class="row3">
                        <td class="column1 style11 s style12" colspan="12" style="border-color:black;border-style:solid;border-width:1px;">UNIVERSITAS ANDALAS</td>
                      </tr>
                      <tr class="row4">
                        <td class="column0 style148 s style150" colspan="5" style="border-color:black;border-style:solid;border-width:1px;">MATA KULIAH</td>
                        <td class="column5 style148 s style150" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">KODE</td>
                        <td class="column7 style148 s style150" colspan="3" style="border-color:black;border-style:solid;border-width:1px;">Rumpun/Kelompok MK</td>
                        <td class="column10 style141 s" style="border-color:black;border-style:solid;border-width:1px;">BOBOT (sks)</td>
                        <td class="column11 style141 s" style="border-color:black;border-style:solid;border-width:1px;">SEMESTER</td>
                        <td class="column12 style141 s" style="border-color:black;border-style:solid;border-width:1px;">Tgl Penyusunan</td>
                      </tr>
                      <tr class="row5" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column0 style17 s style19" colspan="5" style="border-color:black;border-style:solid;border-width:1px;"><%= RPS.name %></td>
                        <td class="column5 style17 null style19" colspan="2" style="border-color:black;border-style:solid;border-width:1px;"><%= RPS.code %></td>
                        <td class="column7 style17 null style19" colspan="3" style="border-color:black;border-style:solid;border-width:1px;"></td>
                        <td class="column10 style3 n" style="border-color:black;border-style:solid;border-width:1px;"><%= RPS.credit %></td>
                        <td class="column11 style3 n" style="border-color:black;border-style:solid;border-width:1px;"><%= RPS.semester %></td>
                        <td class="column12 style4 null" style="border-color:black;border-style:solid;border-width:1px;"></td>
                      </tr>
                      <tr class="row6" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column0 style22 s style26" colspan="5" rowspan="2" style="border-color:black;border-style:solid;border-width:1px;">OTORISASI</td>
                        <td class="column5 style28 s style30" colspan="3" style="border-color:black;border-style:solid;border-width:1px;">Dosen Pengembang RPS</td>
                        <td class="column8 style28 s style30" colspan="3" style="border-color:black;border-style:solid;border-width:1px;">Koordinator Rumpun MK</td>
                        <td class="column11 style28 s style30" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">Ka Program Studi</td>
                      </tr>
                      <tr class="row8" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column5 style34 null style36" colspan="3" style="border-color:black;border-style:solid;border-width:1px;"></td>
                        <td class="column8 style34 null style36" colspan="3" style="border-color:black;border-style:solid;border-width:1px;"></td>
                        <td class="column11 style34 null style36" colspan="2" style="border-color:black;border-style:solid;border-width:1px;"></td>
                      </tr>
                      
                      <tr class="row9" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column0 style17 s style19" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">CP Program Studi</td>
                        <td class="column2 style89 s style91" colspan="14" style="border-color:black;border-style:solid;border-width:1px;">
                          Mengidentifikasi, memformulasikan dan memecahkan  permasalahan kebutuhan informasi dari suatu organisasi
                          <br>Mengintegrasikan solusi berbasis teknologi informasi secara efektif pada suatu organisasi
                          <br>Menerapkan konsep-konsep dasar dalam merencanakan Sistem Informasi, merancang Sistem Informasi, membangun Sistem Informasi, mengoperasikan Sistem Informasi, dan mengevaluasi Sistem Informasi 
                        </td>
                      </tr>
            

                      <tr class="row9" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column0 style17 s style19" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">CP Mata Kuliah</td>
                        <td class="column2 style89 s style91" colspan="14" style="border-color:black;border-style:solid;border-width:1px;"><% CPMK.forEach((M) => { %> <%= M.name %><br> <% } ) %></td>
                      </tr>
                      
                      <tr class="row43" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column0 style17 s style19" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">Deskripsi Singkat Mata Kuliah</td>
                        <td class="column2 style89 s style91" colspan="11" style="border-color:black;border-style:solid;border-width:1px;"><%= RPS.description %></td>
                      </tr>
                      <tr class="row44" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column0 style17 s style19" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">Materi Pembelajaran</td>
                        <td class="column2 style89 s style91" colspan="11" style="border-color:black;border-style:solid;border-width:1px;"><%= RPS.material %></td>
                      </tr>
                      <tr class="row45" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column0 style22 s style27" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">Referensi</td>
                        <td class="column2 style89 s style91" colspan="11" style="border-color:black;border-style:solid;border-width:1px;"><% ref.forEach((R) => { %> <%= R.author %>. <%= R.year %>. <%= R.title %>. <%= R.publisher %> <br> <% } ) %></td> 
                      </tr>
                      <tr class="row43" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column0 style17 s style19" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">Team Teaching</td>
                        <td class="column2 style89 s style91" colspan="11" style="border-color:black;border-style:solid;border-width:1px;"> - </td>
                      </tr>
                      <tr class="row44" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column0 style17 s style19" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">Assessment</td>
                        <td class="column2 style89 s style91" colspan="11" style="border-color:black;border-style:solid;border-width:1px;"></td>
                      </tr>
                      <tr class="row45" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column0 style22 s style27" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">Matakuliah Syarat</td>
                        <td class="column2 style89 s style91" colspan="11" style="border-color:black;border-style:solid;border-width:1px;"></td> 
                      </tr>
                      <tr class="row45" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column0 style22 s style27" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">Bobot Penilaian</td>
                        <td class="column2 style89 s style91" colspan="11" style="border-color:black;border-style:solid;border-width:1px;"><% komponen.forEach((K) => { %> <%= K.percentage %> (<%= K.name %>) <br> <% } ) %></td> 
                      </tr>
                     
                      
                      
                      <tr class="row52" style="border-color:black;border-style:solid;border-width:1px; margin-top:20px">
                        <td class="column0 style22 s style27" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">Minggu Ke-</td>
                        <td class="column0 style22 s style27" colspan="4" style="border-color:black;border-style:solid;border-width:1px;">Bahan Kajian</td>
                        <td class="column0 style22 s style27" colspan="2" style="border-color:black;border-style:solid;border-width:1px;">Metode Pembelajaran</td>
                        <td class="column0 style22 s style27" colspan="7" style="border-color:black;border-style:solid;border-width:1px;">Pengalaman Belajar Mahasiswa</td>
                      </tr>
                      <% pertemuan.forEach((P, i) => { %>
                      <tr class="row56" style="border-color:black;border-style:solid;border-width:1px;">
                        <td class="column0 style22 s style27"  colspan="2" style="border-color:black;border-style:solid;border-width:1px;"><%= P.week %></td>
                        <td class="column0 style22 s style27"  colspan="4" style="border-color:black;border-style:solid;border-width:1px;"><%= P.material %></td>
                        <td class="column0 style22 s style27"  colspan="2" style="border-color:black;border-style:solid;border-width:1px;"><%= P.method %></td>
                        <td class="column0 style22 s style27"  colspan="7" style="border-color:black;border-style:solid;border-width:1px;"><%= P.student_experience %></td>
                      </tr>
                      <% } ) %>
                    </table>
            </div>
        </div>
    </div>  
    <script type="text/javascript"> window.print() 
        console.log("test")
    </script>
</body>
</html>

<script>
document.addEventListener("DOMContentLoaded", function(event) { 
    const showNavbar = (toggleId, navId, bodyId, headerId) =>{
    const toggle = document.getElementById(toggleId),
    nav = document.getElementById(navId),
    bodypd = document.getElementById(bodyId),
    headerpd = document.getElementById(headerId)
    
    // Validate that all variables exist
    if(toggle && nav && bodypd && headerpd){
    toggle.addEventListener('click', ()=>{
    // show navbar
    nav.classList.toggle('show')
    // change icon
    toggle.classList.toggle('bx-x')
    // add padding to body
    bodypd.classList.toggle('body-pd')
    // add padding to header
    headerpd.classList.toggle('body-pd')
    })
    }
    }
    
    showNavbar('header-toggle','nav-bar','body-pd','header')
    
    /*===== LINK ACTIVE =====*/
    const linkColor = document.querySelectorAll('.nav_link')
    
    function colorLink(){
    if(linkColor){
    linkColor.forEach(l=> l.classList.remove('active'))
    this.classList.add('active')
    }
    }
    linkColor.forEach(l=> l.addEventListener('click', colorLink))
    
});
</script>